/* 
 The main file contain global object like buttons.
 It also store css variables for our website's theme.
*/

/* CSS Variables */ 
:root {
  /*Color-palette*/
  --header-front : #716e77;
  --header-active : #ecd6c7;
  --buttonColor: #e79686;
}

body {
  font-family: 'Lato', sans-serif !important;
}

.error{
  color: #E91E63;
}

.greatInfo{
  color: #3ba9dd;
}

/* Set a style for the submit button */
.button {
  background-color: var(--buttonColor);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.button:hover {
  opacity: 1;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}
  
/* Set a grey background color and center the text of the note's section */
.notes {
  background-color: #f1f1f1 !important;
  text-align: center;
}

